:root {
    --s-color: #c7ae1d;
    --d-color: #2d2706;
    --l-color: #FEF2AF;
    --font1: "Raleway";
    --doc-width: 1500px;
  }
  

html{
    box-sizing: border-box;
    color: var(--s-color);
}

*, *::before, *::after{
    box-sizing: inherit;
    /* initial margin */
    margin: 0%;
    
}

h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: var(--font1), sans-serif;
    font-weight: bolder;
    font-style: normal;
    font-size: 2rem;
}

h4 {
    font-family: var(--font1), sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 3rem;
}
h5 {
    font-family: var(--font1), sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
}

p {
    font-family: var(--font1), sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 0 0 0;
}

footer{
    text-align: center;
    background-color: var(--l-color);
    min-height: 4rem;
    padding: 2rem;
}

.nav-bar{
    text-align: center;
    
}

.main-class{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero{
    /* background-image: url(/images/1.webp);
    background-size: cover;
    background-position: center; */
    background: url(./images/1.webp) center/cover;
    min-height: 32rem;
    margin: 0%;
    padding: 2rem;
    display: flex;
}

.hero-child{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.buy-link{
    color: var(--d-color);
    background-color: var(--s-color);
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    font-family: var(--font1), sans-serif;
    font-weight: normal;
    font-size: large;
}

.learn-link{
    color: var(--s-color);
    width: fit-content;
    text-decoration: none;
    padding: 0.5rem;
    border: 0.125rem solid var(--s-color);
    font-family: var(--font1), sans-serif;
    font-weight: normal;
    font-size: large;
    align-self: center;
}

.hero-2{
    background: url(./images/2.webp) center/cover;
    min-height: 32rem;
    display: flex;
    margin: 0%;
    padding: 2rem;
    align-items: flex-start;
}

.hero-2-child{
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 22rem;
    gap: 1rem;
    padding: 1rem;
}

/* wide behaviour */
.features-container{
    display: flex;
    padding: 2rem;
    justify-content: center;
    scrollbar-width: none;
}
.features-container::-webkit-scrollbar{
    display: none;
}

/* behaviour when smaller than features container */
@media screen and (max-width: 1160px) {
    .features-container{
        justify-content: start;
        overflow-x: auto;
    }    
}

.features{
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2rem;
}

.features > * {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 18.75rem;
    height: 25rem;
    margin: 2rem;
}

.feature-card-1{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, black), url(./images/3.webp) center/cover;
}

.feature-card-2{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, black), url(./images/4.webp) center/cover;
}

.feature-card-3{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, black), url(./images/5.webp) center/cover;
}

.feature-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.testimonials{
    display: flex;
    flex-direction: column;
    background-color: var(--l-color);
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    border: 0.25rem solid var(--s-color);
    max-width: 32rem;
}

@media screen and (min-width: 4095px){
    :root{
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px){
    :root{
        font-size: 0.66rem;
    }

    p{
        font-size: 1.2rem;
    }


    /* testimonial sizing  */
    .testimonials{
        font-size: 2vw;
        padding: 4vw;
    }

    .testimonials h3{
        font-size: 2.5em;
    }

    .testimonials h4,h5{
        font-size: 3em;
    }


    .testimonial-card{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 1em;
        border: 0.25em solid var(--s-color);
        max-width: 33em;
    }
}

/* square images for the hero section */
@media screen and (max-width: 400px){
    .hero{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.9) 80%), url(./images/1.webp) center/cover;
        min-height: 0;
        height: 100vw;
        justify-content: center;
        align-items: end;
    }

    .hero-child{
        justify-content: end;
        align-items: center;
        width: 150px;
        text-align: center;
        background-color: black;
        padding: 8px;

    }

    .hero-child > h1{
        padding: 4px 8px 4px 4px;
    }

    .hero-2{
        min-height: 0;
        height: 100vw;
    }
}